@charset "UTF-8";

@font-face {
  font-family: "catalejo";
  src:url("fonts/catalejo.eot");
  src:url("fonts/catalejo.eot?#iefix") format("embedded-opentype"),
    url("fonts/catalejo.woff") format("woff"),
    url("fonts/catalejo.ttf") format("truetype"),
    url("fonts/catalejo.svg#catalejo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "catalejo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="catalejo-"]:before,
[class*=" catalejo-"]:before {
  font-family: "catalejo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.catalejo-mode:before {
  content: "\61";
}
.catalejo-open:before {
  content: "\63";
}
.catalejo-save:before {
  content: "\64";
}
.catalejo-blockly:before {
  content: "\65";
}
.catalejo-code:before {
  content: "\66";
}
.catalejo-disconnected:before {
  content: "\67";
}
.catalejo-new:before {
  content: "\68";
}
.catalejo-python:before {
  content: "\62";
}
.catalejo-lua:before {
  content: "\69";
}
.catalejo-connected:before {
  content: "\6a";
}
.catalejo-stop:before {
  content: "\6c";
}
.catalejo-card:before {
  content: "\6d";
}
.catalejo-graph:before {
  content: "\6e";
}
.catalejo-config:before {
  content: "\70";
}
.catalejo-baby:before {
  content: "\71";
}
.catalejo-upload:before {
  content: "\72";
}
.catalejo-download:before {
  content: "\73";
}
.catalejo-import:before {
  content: "\74";
}
.catalejo-export:before {
  content: "\75";
}
.catalejo-super:before {
  content: "\76";
}
.catalejo-terminal:before {
  content: "\77";
}
.catalejo-sun:before {
  content: "\78";
}
.catalejo-moon:before {
  content: "\79";
}
.catalejo-language:before {
  content: "\7a";
}
.catalejo-wifi:before {
  content: "\41";
}
.catalejo-bluetooth:before {
  content: "\42";
}
.catalejo-usb:before {
  content: "\44";
}
.catalejo-socket:before {
  content: "\43";
}
.catalejo-websocket:before {
  content: "\45";
}
.catalejo-project:before {
  content: "\47";
}
.catalejo-compress:before {
  content: "\46";
}
.catalejo-connect:before {
  content: "\48";
}
.catalejo-help:before {
  content: "\4a";
}
.catalejo-play:before {
  content: "\49";
}
.catalejo-remove:before {
  content: "\6b";
}
.catalejo-warning:before {
  content: "\6f";
}
